<div class="container">
  <mat-grid-list id="cabecera" cols="1" rowHeight="500px">
    <mat-grid-list id="subcabecera" cols="2" rowHeight="480px">
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-content>
            <img class="img_cv" src="../assets/img/CV_imagen.jpeg" alt="Foto Presentación" />
          </mat-card-content>
          <mat-card-footer>
            <h3>Datos</h3>
            <hr/>
            <p>
              <mat-icon aria-label="telefono">phone</mat-icon>
              0984960906
            </p>
            <p>
              <mat-icon>home</mat-icon>
              Cdla. Kenndy - Pana Norte
            </p>
            <p>
              <mat-icon>mail</mat-icon>
              pabloandres120297@gmail.com
            </p>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="header">
          <h1>Software Developer</h1>
          <hr/>
          <h1>Front-End Developer</h1>
          <section>
            <button mat-button (click)="downloadFile()">Descargar CV</button>
            <button (click)="openDialog()" mat-stroked-button>Sobre mí</button>
          </section>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-list>
  <mat-grid-list  cols="4" rowHeight="250px">
    <p class="tech-titulo">Tecnologías</p>
    <mat-grid-tile *ngFor="let tecnologia of tecnologias">
      <div class="tech" >
        <mat-card class="card-tech">
          <mat-card-content>
            <img class="img-tech" [src]='"../assets/programming/"+tecnologia.imagen' [alt]="tecnologia.nombre" />
          </mat-card-content>
          <mat-card-footer>
            <h3>{{ tecnologia.nombre }}</h3>
          </mat-card-footer>
        </mat-card>
      </div>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="proyects" cols="3" rowHeight="450px">
    <p class="proyects-titulo">Proyectos</p>
    <mat-grid-tile *ngFor="let proyecto of proyectos">
      <div class="proyects" >
        <mat-card class="card-proyects">
          <mat-card-header class="card-header-proyect">
            <h3>{{ proyecto.nombre }}</h3>
          </mat-card-header>
          <mat-card-content>
            <img class="img-proyects" src='../assets/img/CV_imagen.jpeg' alt="Foto Presentación" />
          </mat-card-content>
          <mat-card-footer>
            <p>{{ proyecto.descripcion }}</p>
            <hr>
            <p><a [href]="proyecto.urlGithub">Gihub</a></p>
          </mat-card-footer>
        </mat-card>
      </div>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="contact" cols="1" rowHeight="500px">
    <p class="contact-titulo">Contacteme</p>
    <p style="color: white;">* Campos obligatorios</p>
    <form (ngSubmit)="submitForm($event)" #forma="ngForm" class="contact-form">
      <mat-form-field class="contact-field" appearance="outline">
        <mat-label >Cliente y/o Empresa</mat-label>
        <input 
          matInput
          type="text"
          #name="ngModel"
          [(ngModel)]="constactForm.nombre"
          name="nombre"
          required  
        >
      </mat-form-field>
      <div class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors?.required">
          Por favor introduzca un nombre
        </div>
      </div>
      <mat-form-field class="contact-field" appearance="outline">
        <mat-label >Correo</mat-label>
        <input 
          matInput
          type="email"
          #email="ngModel"
          [(ngModel)]="constactForm.email"
          name="email"
          required
          pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
        >
      </mat-form-field>
      <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.required">
          Por favor introduzca un correo
        </div>
        <div *ngIf="email.errors && email.errors.pattern">
          Por favor introduzca un correo correcto, ej: andres@correo.com
        </div>
      </div>
      <mat-form-field class="contact-field" appearance="outline">
        <mat-label >Mensaje</mat-label>
        <textarea 
          matInput
          type="text"
          #mensaje="ngModel"
          [(ngModel)]="constactForm.mensaje"
          name="mensaje"
          required
        ></textarea>
      </mat-form-field>
      <div class="error" *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)">
        <div *ngIf="mensaje.errors?.required">
          Por favor introduzca un mensaje de presentación
        </div>
      </div>
      <div class="example-button-row">
        <button [disabled]="!forma.valid" type="submit" mat-button >Enviar</button>
      </div>
    </form>
  </mat-grid-list>
</div>