<div style="width:100%;background-color: #A9A9A9;height: 100%;padding-top: 10px;">
  <mat-grid-list 
    style="background-color: gray; width: 90%;margin: auto;height: 100%;border-radius: 10px;padding: auto;"
    cols="3" 
    rowHeight="90px">
    <mat-grid-tile colspan="1" rowspan="6">
      <div>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title style="color: white;">Pablo Andrés Chacón</mat-card-title>
            <mat-card-subtitle style="color: white;">Front Dev, Web Dev</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content style="padding: auto;margin: auto;">
            <img 
              mat-card-image 
              style="border-radius: 20px;height: 300px;width: 250px;" 
              src="../assets/img/CV_imagen.jpeg" 
              alt="Imagen de perfil" />
          </mat-card-content>
          <mat-card-footer style="text-align: left;color: white;padding: 10px;">
            <mat-card-title>Mis Datos</mat-card-title>
            <hr/>
            <p style="display: flex;">
              <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
              Panamericana Norte - Cuenca, Ecuador
            </p>
            <p style="display: flex;">
              <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
              (593) 0984960906
            </p>
            <p style="display: flex;">
              <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
              pabloandres1202@gmail.com
            </p>
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <h1>Presentación</h1>
    </mat-grid-tile>
  </mat-grid-list>
</div>