<div class="container">
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-list cols="2" rowHeight="480px">
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-content>
            <img class="img_cv" src="../assets/img/CV_imagen.jpeg" alt="Foto Presentación" />
          </mat-card-content>
          <mat-card-footer>
            <h3>Datos</h3>
            <hr/>
            <p>
              <mat-icon aria-label="telefono">phone</mat-icon>
              0984960906
            </p>
            <p>
              <mat-icon>home</mat-icon>
              Cdla. Kenndy - Pana Norte
            </p>
            <p>
              <mat-icon>mail</mat-icon>
              pabloandres120297@gmail.com
            </p>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="header">
          <h1>Software Developer</h1>
          <hr/>
          <h1>Front-End Developer</h1>
          <section>
            <button mat-button>Descargar CV</button>
            <button (click)="openDialog()" mat-stroked-button>Sobre mí</button>
          </section>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-list>
  <mat-grid-list  cols="4" rowHeight="250px">
    <p class="tech-titulo">Tecnologías</p>
    <mat-grid-tile *ngFor="let tecnologia of tecnologias">
      <div class="tech" >
        <mat-card class="card-tech">
          <mat-card-content>
            <img class="img-tech" [src]='"../assets/programming/"+tecnologia.imagen' [alt]="tecnologia.nombre" />
          </mat-card-content>
          <mat-card-footer>
            <h3>{{ tecnologia.nombre }}</h3>
          </mat-card-footer>
        </mat-card>
      </div>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="proyects" cols="3" rowHeight="450px">
    <p class="proyects-titulo">Proyectos</p>
    <mat-grid-tile *ngFor="let proyecto of proyectos">
      <div class="proyects" >
        <mat-card class="card-proyects">
          <mat-card-header class="card-header-proyect">
            <h3>{{ proyecto.nombre }}</h3>
          </mat-card-header>
          <mat-card-content>
            <img class="img-proyects" src='../assets/img/CV_imagen.jpeg' alt="Foto Presentación" />
          </mat-card-content>
          <mat-card-footer>
            <p>{{ proyecto.descripcion }}</p>
            <hr>
            <p><a [href]="proyecto.urlGithub">Gihub</a></p>
          </mat-card-footer>
        </mat-card>
      </div>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="contact" cols="1" rowHeight="500px">
    <p class="contact-titulo">Contacto</p>
    <form action="" class="contact-form">
      <mat-form-field class="contact-field" appearance="outline">
        <mat-label >Nombre</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="contact-field" appearance="outline">
        <mat-label >Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="contact-field" appearance="outline">
        <mat-label >Mensaje</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="example-button-row">
        <input type="button" mat-button value="Enviar" />
      </div>
    </form>
  </mat-grid-list>
</div>