.example-card {
  width: 260px;
  background-color: gray;
}


.container {
  width:100%;
  background-color: #A9A9A9;
  height: 100%;
  padding-top: 10px;
}

.grid-list {
  background-color: gray; 
  width: 90%;
  margin: auto;
  height: 100%;
  border-radius: 10px;
  padding: auto;
}